.form-container {
    background-color: bisque;
    border-radius: 50px;
    overflow: hidden;
    padding: 10px 10px;
}

.text-area {
    background: navajowhite;
    border-radius: 50px;
    border: 2px solid coral;
    box-sizing: border-box;
    color: tomato;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    padding: 10px;
    resize: none;
    text-align: center;
    width: 100%;
}

.text-area::placeholder {
    color: tomato;
    font-family: 'Permanent Marker', cursive;
    font-weight: 400;
    opacity: 30%;
  }

.text-area:focus {
    border-color: cornsilk;
    outline-color: cornsilk;
    outline-style: solid;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 70px;
    width: 70px;
}

.add {
    background-image: url('./../../styles/images/save-icon.png');
}

.cancel {
    background-image: url('./../../styles/images/icon-row-back.png');
    background-size: cover;
    border-radius: 50%;
}

.button-box {
    display: flex;
    justify-content: space-around;
    margin: 5px 0 5px;
}

@media only screen and (max-width:600px) {
    .form-container {
        width: calc(100% - 50px);
    }
}

@media only screen and (min-width:600px) {
    .form-container {
        width: 60%;
    }
}
